<div class="login-container">
  <form onsubmit="return false;" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" data-type="text" name="password" id="password" placeholder="Enter your password" required>
      <div class="eye" title="Show password" data-title="Hide password"><div class="hide"></div></div>
    </div>
    <div class="form-field">
      <a href="#">Forgot your password?</a>
    </div>
    <div class="form-buttons">
      <input type="button" id="login-button" value="Login">
      <input type="button" id="signup-button" value="Sign up">
    </div>
  </form>
  <div class="error-container"></div>
</div>