<form method="post" action="signup" enctype="application/x-www-form-urlencoded" class="signup">
  <div class="form-field">
    <label for="first">First Name:</label>
    <input type="text" name="first" id="first" placeholder="First name" required>
  </div>
  <div class="form-field">
    <label for="last">Last Name:</label>
    <input type="text" name="last" id="last" placeholder="Last name" required>
  </div>
  <div class="form-field">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Email" required>
  </div>
  <div class="form-field">
    <label for="password">Password:</label>
    <input type="password" data-type="text" name="password" id="password" placeholder="Password" required>
    <div class="eye" title="Show password" data-title="Hide password"><div class="hide"></div></div>
  </div>
  <div class="form-field">
    <label for="confirm">Confirm:</label>
    <input type="password" name="confirm" id="confirm" placeholder="Confirm password" required>
  </div>
  <div class="form-buttons">
    <input type="button" id="submit" value="Submit">
  </div>
</form>