.login-container {
  text-align: center;
  .form-field {
    position: relative;
    display: inline-block;
    width: 90%;
    margin-bottom:0.6em;
    input{
      float: right;
      border: 0.2rem solid transparent;
      border-radius: 4px;
    }
    label {
      float: left;
      font-size: 15px;
      padding-top: 0.1rem;
    }
    .eye {
      left: 250px;
      top: 4px;
      cursor: pointer;
    }
    a {
      float: right;
      margin-top: -0.4rem;
      color: #f00;
    }
  }
  .form-buttons {
    padding-top: 0.5rem;
    * {
      width: 5.5rem;
      height: 1.75rem;
      max-height: 2rem;
      margin: 0.1em;
      border-radius: 5px;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 14px;
      -webkit-transition-duration: 0.1s; /* Safari */
      transition-duration: 0.1s;
      cursor: pointer;
      background: #eee;
      &:hover {
        background: #9196F3;
        color: #eee;
      }
    }
  }
  .error-container {
    margin: 0.5rem;
    font-size: 14px;
    color: red;
  }
}
