* {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.hide {
  display: none;
}

$loginHeight: 240px;
$loginWidth: 300px;
$signupHeight: 320px;
.body {
  width: 300px;
  height: 1px;
  margin: 0;
  padding: 0;
  &,
  *{  box-sizing: border-box;}

  transition: height 0.33s ease-in-out 0.33s,
    width 0.33s ease-in-out 0s,
    background-color 1s ease-in-out 0s,
    font-color 1s ease-in-out 0s;
  &.dark {
    background: #333;
    color: #ddd;

    .assets-container .assets-table input[type=number]{
      background: transparent;
      color: #ddd;
    }
  }
  &.light {
    background: #ddd;
    color: #333;
  }
  &.login {
    width: $loginWidth;
    height: $loginHeight;
    &.error {
      &.small{
        height: $loginHeight + 30px;
      }
      &.large{
        height: $loginHeight + 50px;
      }
    }
    &.success {
      height: 210px;
    }
  }
  &.signup {
    width: $loginWidth;
    height: $signupHeight;
    &.error {
      &.small{
        height: $signupHeight + 30px;
      }
      &.large{
        height: $signupHeight + 50px;
      }
    }

  }
  &.loader {
    width: 300px;
    height: 170px;
  }
  &.assets {
    width: 400px;
    height: 500px;
    max-width: 400px;
    max-height: 500px;
  }
  .notifier{
    text-align: center;
  }
  .success-container {
    font-size: 20px;
    margin-top: 1.75rem;
  }
  .welcome-container {
    margin-top: 15px;
  }
  .no-server-container{
    h4{
      margin:0;
    }
    img {
      margin: 10px 0 15px;
    }
  }
  #content{
    height: 100%;
  }
}

