.dark-mode {
  background: #333;
  color: #ddd;
}

.light-mode {
  background: #ddd;
  color: #333;
}

.hide {
  display: none;
}

.body {
  width: 1px;
  height: 1px;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: height 1s ease-in-out 0s,
    width 1s ease-in-out 0s,
    background-color 1s ease-in-out 0s,
    font-color 1s ease-in-out 0s;
  &.base {
    transition: height 0.75s linear 0s,
    width 0.75s linear 0s!important;
    width: 300px;
    height: 163px;
  }
  &.login {
    width: 300px;
    height: 180px;
  }
  &.loader {
    width: 300px;
    height: 125px;
  }
  &.assets {
    width: 400px;
    height: 500px;
  }

}

