

.hide {
  display: none;
}

.body {
  width: 300px;
  height: 1px;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: height 1s ease-in-out 0s,
    width 0.5s ease-in-out 1s,
    background-color 1s ease-in-out 0s,
    font-color 1s ease-in-out 0s;
  &.dark-mode {
    background: #333;
    color: #ddd;
  }
  &.light-mode {
    background: #ddd;
    color: #333;
  }
  &.login {
    height: 180px;
    &.error {
      &.small{
        height: 200px;
      }
      &.large{
        height: 220px;
      }
    }
    &.success {
      height: 210px;
    }
  }
  &.loader {
    width: 300px;
    height: 165px;
  }
  &.assets {
    width: 400px;
    height: 500px;
  }
  .notifier{
    text-align: center;
  }
  .success-container {
    font-size: 20px;
    margin-top: 1.75rem;
  }
  .welcome-container {
    margin-top: 3rem;
  }

}

