.dark-mode {
  background: #333;
  color: #ddd;
}

.light-mode {
  background: #ddd;
  color: #333;
}

.hide {
  display: none;
}

.body {
  width: 300px;
  height: 100px;
  transition: height 1s ease-in-out 0s,
    width 1s ease-in-out 0s,
    background-color 1s ease-in-out 0s,
    font-color 1s ease-in-out 0s;
  &.login {
    height: 180px;
  }
  &.loader {
    height: 120px;
  }
  &.assets {
    width: 550px;
    height: 500px;
  }

}

